/* body {
  border: 8px solid black;
}
main {
  border: 8px solid black;
}
.beast img {
border: 3px solid black;
width: 100%;
display: flex;
}

article {
  border: 1px solid gray;
  padding: 1vw;
  margin-bottom: 1vw;
  width: 16%;
} */
body{
  background-color: aqua;
}
.Card-Body {
  background-color: aqua;
}
.Card.Img  {
  border: 3px solid black;
  width: 100%;
  display: flex;
}
.cards {
  width: 20vw;
  color: white;
}
.Card-Header .card-text {
  font-size: 11px;
  margin: auto;
  display: inline-block;
  margin-bottom: .5rem;
}
.Card-Header .card-text:last-of-type {
  padding-left: 1rem;
  cursor: pointer;
}
.Card-Header .card-text:last-of-type:hover {
  color: purple;
}

.Article-Button {
  margin: .4rem .6vw;
}